<div class="row">
  <div class="col-md-7">
    <h1>Incomes</h1>

    <%= link_to 'New Income', new_income_path %> |
    <%= link_to "Categories", income_categories_path %>
    <br/><br/>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-2">Date</th>
          <th class="col-sm-4">Categories</th>
          <th class="col-sm-1">Amount</th>
        </tr>
      </thead>
    
      <tbody>
        <% @incomes.each do |income| %>
          <tr onclick="location.href='<%= income_path(income) %>';">
            <td><%= income.date.strftime('%-d %b') %></td>
            <td><%= income.income_categories.collect{ |x| x.name }.join(', ') %></td>
            <td class="text-right"><%= number_to_currency(income.amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>