<h1>Expense details</h1>
<br/>

<p>
  <strong>Date:</strong>
  <%= @expense.date.strftime('%-d %b %Y') %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @expense.expense_categories.collect{ |x| x.name }.join(', ') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@expense.amount) %>
</p>
<br/>
<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Delete', expense_path(@expense), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', expenses_path %>
